.git
.gitignore
.idea
.venv
.env
.env.local
.env.docker
.python-version

__pycache__
*.pyc
*.pyo
*.egg-info
dist
build

.DS_Store
*.db
*.log
logs/
node_modules

docker-compose.yml
README.md
.github

tracking.db
tracking.db-shm
tracking.db-wal
